body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #121212;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.no-movies {
  color: white;
  text-align: center;
  font-size: 20px;
  width: 100%;
}